1. Write a Python program to find the second largest number in a list.

In [ ]:
li=[50,30,45,21]
m1=max(li[0],li[1])
sm=min(li[0],li[1])
for i in range(2,len(li)):
    if li[i]>m1:
        sum=m1
        m1=li[i]
    else:
        if li[i]>sm:
            sm=li[i]
print(sm)

2. Write a Python program to find the index of the second largest number in a list.

In [ ]:
li=[50,30,45,21]
m1=max(li[0],li[1])
sm=min(li[0],li[1])
y=0
for i in range(2,len(li)):
    if li[i]>m1:
        sum=m1
        m1=li[i]
    else:
        if li[i]>sm:
            sm=li[i]
            t=li.index(sm)
print(t)

3. Write a Python program to check a container is empty or not.

In [ ]:
t=()
if t :
    print('the cont is  non empty')
else:
     print('the cont is   empty !!!!!!!!!!!')

4. Write a Python program using Sieve of Eratosthenes method for computing primes upto a
specified number.
Note: In mathematics, the sieve of Eratosthenes,one of a number of prime number sieves, is a
simple, ancient algorithm for finding all prime numbers up to any given limit.

In [ ]:
while True:
    try:
        x=int(input('Enter limt number :'))
        if x or x >0:
            break
    except:
        print('Enter a valid number')
        
li=[i for i in range(2,x+1)]
#print(li)
lis=[2,3,5,7]
for t in lis:
    for a in li:
        if a%t == 0 and a>t:
            li.remove(a)
print(li)

5. Given a list slice it into a 3 equal chunks and print each list.

6. Write a Python program to sort a list in descending order.

In [ ]:
li=[2, 300, 5, 7, 11, 20, 17, 19, 23, 29, 31, 37, 41, 43, 47]

li.sort(reverse=True)
print(li)

7. Write a Python program to reverse a list.

In [ ]:
li=[2, 300, 5, 7, 11, 20, 17, 19, 23, 29, 31, 37, 41, 43, 47]
li.reverse()
print(li)

8. Write a Python program to flatten a 2-D list.

In [ ]:
b=[[50,64,22,5],[5,69,87,4,32]]
x=[]
for i in b:
    x.extend(i)
print(x)

9. Given an input list removes the element at index 4 and add it to the 2nd position and also, at
the end of the list

In [ ]:
y=[50, 64, 22, 6, 5, 69, 87, 4, 32]
v=y.pop(4)
y.insert(2,v)
y.append(v)
print(y)

10. Given a two list of equal size create a set such that it shows the element from both lists in the
pair.

In [ ]:
y=[50, 64, 22, 6, 5, 69, 19, 4, 32]
li=[2, 22, 5, 50, 11, 20, 17, 19, 50]
l1=[(a,b) for a in y for b in li]
s1=set(l1)
print(s1)

11. Iterate a given list and Check if a given element already exists in a dictionary as a key’s value
if not delete it from the list.

In [ ]:
li=['sdfsd','mily' ,'lossy']
dict1={'cat':'lossy','dog':'surees',  'caw': 'mily'}

b=dict1.values()
for i in li:
    if i not in b:
        li.remove(i)
print(li)

12. Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

In [ ]:
dict1={'cat':'lossy','dog':'surees',  'caw': 'mily', 'hourse':'mily'}
b=list(set(dict1.values()))
print(b)

13. Write a Python program which accepts a sequence of comma-separated numbers from user and
generate a list and a tuple with those numbers.
Sample data : 3, 5, 7, 23
Output :
List : [’3’, ’ 5’, ’ 7’, ’ 23’]
Tuple : (’3’, ’ 5’, ’ 7’, ’ 23’)

In [ ]:
st1=input('Enter numbers separated by comma')
s=st1.split(',')
li=list(s)
tu=tuple(s)
print(li)
print(tu)

14. Write a Python program to count the number 4 in a given list.

In [ ]:
li=[4,59,63,2,4,6,18,4,7,4,4]
s=li.count(4)
print(s)

15. Write a Python program to concatenate all elements in a list into a string and return it.

In [ ]:
li=[4,59,63,2,4,6,18,4,7,4,4]
s=''
s1=str(li)
for i in li:
    s+=str(i)
print(s)

16. Write a Python program to print all even numbers from a given numbers list in the same order
and stop the printing if any numbers that come after 237 in the sequence.
Sample numbers list :
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399,
162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512,
24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566,
            597, 978, 328, 615, 953, 345, 399, 162, 758, 219,
            918, 237, 412, 566, 826, 248, 866, 950, 626, 949,
            687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767,
            553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]
for i in numbers:
    if i%2==0:
        print(i, end = ' ')
    if i == 237:
        break

17. Write a Python program to print the length of the series and the series from the given 3rd
term, 3rd last term and the sum of a series.

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566,
            597, 978, 328, 615, 953, 345, 399, 162, 758, 219,
            918, 237, 412, 566, 826, 248, 866, 950, 626, 949,
            687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767,
            553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]
print(len(numbers))
sum1=0
for i in numbers:
    sum1=sum1+i
series=[numbers[3],numbers[-3],sum1]
print(series)

18. Write a Python program to get a list, sorted in increasing order by the last element in each
tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
import operator
li=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
li.sort(key = operator.itemgetter(1))
print(li)

19. Write a Python program to create a list by concatenating a given list which range goes from 1
to n.
Sample list : [’p’, ’q’] „„ n = 5
Sample Output : [’p1’, ’q1’, ’p2’, ’q2’, ’p3’, ’q3’, ’p4’, ’q4’, ’p5’, ’q5’]

In [ ]:
li =['p', 'q']
n=5
li1=[]
for i in range(1,n+1):
    for j in li:
        li1+=['{}{}'.format(j,i)]
print(li1)

20. Write a Python program to find the biggest row sum of a matrix.

In [ ]:
li=[[50,30,59],[4,78,45],[4,98,75]]
sum1=0
t=[]
for i in li:
    t.append(sum(i))
v=t.index(max(t))
print(max(t),li[v])

21. Write a Python program to find the biggest column Multiplication of a matrix.

In [ ]:
li=list()
li=[[50,30,59],
    [4,78,45],
    [4,98,75]]
mul=1
li1=list()
for i in range(len(li)):
    for j in range(len(li)):
        mul*=li[j][i]
    li1.append(mul)
    mul=1
print(li1)
v=int(li1.index(max(li1)))    
print(max(li1))
for s in range(len(li[v])):
    print( li[s][v])

22. Write a guessing game where the user must guess a secret number. After every guess the
program tells the user whether their number was too large or too small. At the end the number
of tries needed should be printed. It counts only as one try if they input the same number
multiple times consecutively.

23. Write a python program to transpose a matrix.

In [ ]:
li=[[50,30,59],[4,78,45],[4,98,75]]
lis1=[[li[j][i] for j in range(len(li))] for i in range(len(li[0]))]
                              
for l in lis1:
    print(l)

24. Write a python program to perform a 2 matrix multiplication (following the algebra rules of
matrix multiplication).

In [ ]:
mat1=[[5,8],[7,9]]
mat2=[[7,8],[3,3]]
mul1=[[0,0],[0,0]]
for i in range(len(mat1)):
    for j in range(len(mat2[0])):
        for n in range(len(mat2)):
            mul1[i][j]+= mat1[i][n]*mat2[n][j]
for s in mul1:
    print(s)

25. Write a python program to inverse a matrix.

26. Write a Python program to print all permutations of a sequence of numbers.

In [ ]:
from itertools import permutations 
p= permutations([2,4,7])
li=list(p)
for i in li:
    print(i)

27. Write a Python script to sort (ascending and descending) a dictionary by its values.

In [ ]:
import operator
dict1={'cat':'lossy','dog':'surees',  'caw': 'mily', 'hourse':'mily'}
s=sorted(dict1.items(), key=operator.itemgetter(0))
print(s)
s1=sorted(dict1.items(), key=operator.itemgetter(0), reverse=True)
print(s1)

28. Write a Python program to remove duplicates from Dictionary values.

In [ ]:
dict1={'cat':'lossy','dog':'surees',  'caw': 'mily', 'hourse':'mily'}
dict2={}
for key,value in dict1.items():
    if value not in dict2.values():
        dict2[key]=value
print(dict2)

29. Write a Python program to print all unique values in a dictionary with their keys.(take help of
string formatting.

In [ ]:
dict1={'V1':'S0015',
       'V2': 'S0102',
       'V3I': 'S001', 
       'VI': 'S004', 
       'VII':'S002',
       'V':'S002',
       'VIII':'S007'}

value = set( x for i in dict1 for x in dict1.values())
print(value)

30. Write a Python program to find the keys of the highest 3 values in a dictionary.

In [ ]:
from collections import Counter 
dict1={'V4':'S0915',
       'V3': 'S0102',
       'V3I': 'S001', 
       'V2': 'S004', 
       'VII':'S002',
       'V1':'S002',
       'VIII':'S007'}
k = Counter(dict1) 

high = k.most_common(3) 
x=len(high)
for i in high:
    print(i)

31. Given a list iterate it and count the occurrence of each element and create a dictionary to show
the count of each element.

In [ ]:
li=['mahmoud',50,50,'ali','ali',50]
dict1={}
for i in li:
    dict1[i]=li.count(i)
print(dict1)

32. Given two sets find the intersection and remove those elements from the first set.

In [ ]:
set1={50,60,70,84,88,75}
set2={50,66,88,75}
li=set1.intersection(set2)
for i in li:
    if i in set1:
        set1.discard(i)
print(set1)

33. Given two sets, Checks if One Set is Subset or superset of Another Set. if it is a subset, delete
all elements from that set.

In [ ]:
set1={50,66,70,84,88,75}
set2={50,66,88,75}
if set1.issubset(set2):
    print('set1 is subset from set2')
    set1.clear()
if set1.issuperset(set2):
    print('set1 is superset of set2')

34. Write a Python program to print out a set containing all the item from list_1 which are not
present in list_2.

In [ ]:
lis1=[10,20,30,40,50,60,70,80,90,'kkkk',100]
lis2=[20,40,60,80]
set1=set()
for i in lis1:
    if i not in lis2:
        set1.add(i)
print(set1)

35. Write a Python program to calculate the sum over any given container.

In [ ]:
lis1=[10,20,30,40,50,60,70,80,90,100]
set1={50,66,70,84,88,75}
print(sum(lis1))
print(sum(set1))

36. Write a Python program to remove the first item from a specified list.

In [ ]:
lis1=[10,20,30,40,50,60,70,80,90,100]
print(lis1.pop(0))

37. Write a Python program to iterate an extract all key-value pair of a dictionary in variables and
print them.

38. Write a Python function to find a distinct pair of numbers whose product is odd from a sequence
of integer values.

In [ ]:
mul=0
x=list()
def prouctodd(lis):
    global mul,x
    for i  in lis:
        for j in lis:
            if i != j:
                mul=i*j
                if mul%2 >0:
                    x.append([i,j])
        
li=[1,2,5,6,7,8,10,15,3,4]
prouctodd(li)        
print(x)

39. Write a Python program to iterate over a list and find unique triplets whose three elements
gives the sum of zero.

In [ ]:
li = [0, -1,  -3, 1, -6,5,-2,] 
sum=0
lis1=list()
set1={}
for i in range(len(li)):
    for j in range(len(li)):
        for k in range(len(li)):
            if i!=j and i!=k and j!= k:
                if (li[i] + li[j] + li[k] == 0): 
                    lis1.append([li[i], li[j], li[k]]) 

                    
print(lis1)

40. Write a Python program to remove and print every third number from a list of numbers until
the list becomes empty.

In [ ]:
li = [0, -1,  -3, 1, -6,5,-2] 
for i in range(len(li1)+1):
    print(li.pop(3))

41. Write a Python program to compute the summation of the absolute difference of all distinct
pairs in an given array (non-decreasing order).
Sample array: [1, 2, 3]
Then all the distinct pairs will be:
                                                                                                                                                              1 2
                                                                                                                                                              1 3
        2 3

In [ ]:
li = [0, -1,  -3,-2] 
set1=set()
for i in range(len(li)):
    for j in range(len(li)):
        if i != j:
            set1.add((i,j))
print(set1)

42. Write a Python program to find the difference between the largest possible integer and the
smallest possible integer which are created by maximum 8 digits from 0 to 9.
Input an integer created by 8 numbers from 0 to 9.: 2345
Difference between the largest and the smallest integer from the given integer: 3087

43. Write a Python program which adds up column and row of given table.
Input cell value:
 25 69 51 26
 68 35 29 54
 54 57 45 63
 61 68 47 59
Result:
 25 69 51 26 171
68 35 29 54 186
 54 57 45 63 219
 61 68 47 59 235
 208 229 172 202 811

44. Write a Python program to count the number of strings where the string length is 2 or more
and the first and last character are same from a given list of strings.
Sample List : [’abc’, ’xyz’, ’aba’, ’1221’]
Expected Result : 2

In [ ]:
li=['abc' , 'xyz' , 'aba' , '1221'] 
num=0
for i in li:
    if len(i)>1 and i[0]==i[-1]:
        num+=1
print(num)

45. Write a Python program to clone or copy a list.

In [ ]:
li=['abc' , 'xyz' , 'aba' , '1221'] 
l2=li.copy()
li.append('mahmoud')
print(li)
print(l2)

46. Write a Python function that takes two lists and returns True if they have at least 3 common
member.

In [ ]:
li=['abc' , 'xyz' , 'aba' , '1221'] 
li1=['kk', 'xyz' , 'aba' , , 'ff ','ddd']
counter=0
for i in li:
    if i in li1:
        counter+=1
        
if counter>2:
    print('They have at least 3 common members')

47. Write a Python program to convert a list of characters into a string.

In [ ]:
li1=['kk', 'xyz' , 'aba'  , 'ff','ddd']
st=''
for i in li1:
    st+=i
print(st)

48. Write a Python program to generate a list of 15 values and print the list with the first and last
5 elements are squared.

In [ ]:
li= [i for i in range(15)]
for i in li:
    if li[i]<5 or li[i]>10:
        li[i]=i*i
print(li)

49. The sum of the squares of the first ten natural numbers is, 12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the
square of the sum is 3025 − 385 = 2640.
Find the difference between the sum of the squares of the first one hundred natural numbers
and the square of the sum.

50. Write a Python program to convert list to list of dictionaries.
Sample lists:
[”Name”, ”Age”, ”ID”, ”Phone”], [”Yazeed”, ”21”, 1536698”, ”0798529788”]
Expected Output:
{’color Name’: ’Black’, ’Age: ’21’ , ‘ID’: ’1536698’, ‘Phone’: ’0798529788’}

51. Write a Python program to sort a list alphabetically in a dictionary.

52. Write a Python program to get the top three items in a shop.
Sample data: ’item1’: 45.50, ’item2’:35, ’item3’: 41.30, ’item4’:55, ’item5’: 24
Expected Output:
item4 55
item1 45.5
item3 41.3

53. Write a Python program to replace dictionary values with their sum.